@import "variables.scss";
$size: 80px;

.dark-mode-toggle {
  outline: none;
  transform: scale(0.4);
  background: none;
  height: 0;
  border: none;
  cursor: pointer;
  padding: 0;
  right: 5px;
  position: relative;
}

.mobile-moon,
.desktop-moon {
  display: none;
}

.desktop-moon {
  position: absolute;
  top: 20px;
}

.circle {
  width: $size;
  display: block;
  background: none;
  color: var(--moon);
}
.mobile-moon > .circle {
  width: 60px;
}



@media all and (min-width: $mobile-breakpoint) {
  .desktop-moon {
    display: block;
  }
}
@media all and (max-width: $mobile-breakpoint) {
  .mobile-moon {
    display: block;
    align-self: stretch;
    top:-3px;
  }
}
