@import "variables";

.header-title {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 30px;
  margin-left: 20px;
}
.header-title a {
  text-decoration: none;
  color: #fff;
  display: inline;
  width: 200px;
}
.header-line {
  margin-top: 12px;
  margin-left: 40px;
  opacity: 0.3;
  height: 2px;
}
.menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  padding-top: 20vh;
}
.menu-button a {
  color: $text-color;
  text-decoration: none;
}
.menu-button {
  text-align: center;
  color: $text-color;
  font-family: "Merriweather", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 22px;
  font-size: 20px;
}
.sidebar-menu-item * {
  font-family: "Open Sans", Courier, monospace;
  text-decoration: none;
  font-size: 20px;
  text-transform: none;
  color: $text-color;
  opacity: 0.9;
  margin-top: 0;
  font-weight: normal;
  line-height: 200%;
  text-align: right;
  display: inherit;
}
.header-line {
  display: none;
}
.active {
  color: #fff; /*#654a4e;*/
  font-weight: bold;
}
