@import "variables";

.header-title {
  font-family: "Chivo","Open Sans", sans-serif;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 18px;
}
.header-title a {
  text-decoration: none;
  color: var(--primary-text);
  display: inline;
  width: 200px;
}

.header-line {
  margin-top: 12px;
  margin-left: 40px;
  opacity: 0.2;
  height: 1.4px;
}
.menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  padding-top: 20vh;
}
.menu-button a {
  color: var(--primary-text);
  text-decoration: none;
}
.menu-button {
  text-align: center;
  color: var(--primary-text);
  font-family: "Merriweather", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 22px;
  font-size: 20px;
}
.sidebar-menu-item * {
  font-family: "Chivo", "Open Sans", Courier, monospace;
  text-decoration: none;
  font-size: 18px;
  text-transform: none;
  color: var(--primary-text);
  opacity: 0.9;
  margin-top: 0;
  font-weight: normal;
  line-height: 200%;
  text-align: right;
  display: inherit;
}

.active {
  color: var(--primary-text); /*#654a4e;*/
  //font-weight: bold;
}

#header-breaker {
  display: none;
}
@media all and (max-width: 450px) {
  #header-breaker {
    display: inline;
  }
}
@media all and (max-width: 300px){
  #header-breaker {
    display: none;
  }
}
@media all and (min-width: $mobile-breakpoint){
  .active::before{
    content: "→ ";
    font-size: 25px;
    line-height: 0;
  }
}
.hamburger{
  display: none;
  float: right;
  padding-right: 16px;
  padding-top: 5px;
}
.header-title input {
  cursor: pointer;
  width: 40px;
  height: 32px;
  position: absolute;
  right: 12px;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}
.header-title input ~ .menu-wrapper {
  background: hotpink;
}
.hamburger span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
}