$primary-color:  #465475   ;
.header-title {
  font-family: "Karla", "M+ 1M";
  /*text-transform: uppercase;*/
  /*font-weight: bolder;*/

  text-decoration: none;
  font-size: 30px;
  /*background-color: aquamarine;*/
  /*height: 430px;*/
  margin-left: 20px;
}
.header-title a {
  text-decoration: none;
  color: #fff;
  display: inline;
  width: 200px;
}
.header-line {
  border: 1.4px solid rgba(255,255,255,0.3);
  margin-top: 12px;
  margin-left: 40px;
}
.menu-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 2;
  text-align: center;
  background: white;
  padding-top: 20vh;
}
.menu-button a {
  color: white;;
  text-decoration: none;
}
.menu-button {
  text-align: center;
  color: white;
  font-family: "Karla";
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 22px;
  font-size: 20px;
}
.sidebar-menu-item * {
  font-family: "Karla", Courier, monospace;
  /*text-transform: uppercase;*/
  text-decoration: none;
  font-size: 22px;
 color:#ddd;
  margin-top: 0;
  font-weight: normal;
  line-height: 200%;
  text-align: right;
  display: inherit;
}
.header-line {
  display: none;
}
.active {
  color: #fff; /*#654a4e;*/
  font-weight: bold;
}