@import "variables";

html,
body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  color: var(--primary-text);
  scrollbar-color: #bbb var(--primary-bg);
  max-width: 100%;
  overflow-x: hidden;
}
.post {
  p,
  ul,
  ol {
    font-size: 19px;
    line-height: 1.9;
  }
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  font-family: "Open Sans", "Karla";
  line-height: 100%;
}
h1 {
  line-height: 82%;
  font-size: 70px;
  font-weight: 900;
  color: var(--primary-text);
  padding-top: 30px;
}
.page-title {
  margin-top: 30px;
  line-height: 1;
  font-size: 76px;
  /*text-shadow: 5px 5px #a8bebf, -5px 5px #a8bebf, -5px -5px #a8bebf;*/
}

h2 {
  font-size: 40px;
}
.skills {
  padding-top: 20px;
}

a {
  text-decoration-color: var(--primary-text);
  /*text-decoration-style: dotted;*/
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 2px;
  color: var(--primary-text);
}
.centred {
  margin: auto;
  margin-top: 25px;
}
::selection {
  color: var(--secondary-bg);
  background: var(--primary-text);
}
::-moz-selection {
  color: var(--secondary-bg);
  background: var(--primary-text);
}
.content-div {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: minmax(0, 200px) minmax(0, 2fr);
  /*grid-template-rows: 60px 1fr;*/
  
}

.content-div *{
  transition: background-color 0.4s, color 0.4s, text-decoration 0.4s;
}
.hidden {
  display: none;
}
header {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: var(--primary-bg);
  padding-right: 20px;
  position: fixed;
  height: 100%;
  max-width: 180px;
}
main {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color: var(--secondary-bg); /* #e6ddde; */
}
.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 800px;
}
.menu-button {
  display: none;
}
.menu-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
@media all and (min-width: $mobile-breakpoint) {
  .menu-wrapper {
    height: 160px;
    width: 180px;
  }
  header {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  main {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .header-title {
    display: block;
    font-weight: bold;
    font-size: 27px;
    text-align: right;
    padding-top: 0;
  }
  .header-line {
    display: block;
  }

  h1 {
    font-size: 100px;
  }
  header {
    padding-top: calc(50vh - 160px);
  }

  .centre {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }

  .index-wrapper {
    padding-top: 2vh;
  }
  .writing-wrapper {
    padding-top: 7vh;
  }
}
.contact-wrapper {
  margin-top: 12vh;
}
hr {
  margin: 0px;
  /*border: 2px solid var(--primary-text);*/
  height: 4px;
  border: none;
  background: var(--primary-text);
  opacity: 0.42;
  max-width: 350px;
  text-align: left;
  align: left;
  margin-top: 25px;
  margin-left: 0px;
}
.big {
  font-size: 25px;
}
ul {
  font-size: 20px;
}
/*li {
  padding-top: 5px;
  padding-bottom: 5px;
}*/
h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 95%;
}
@media all and (max-width: $mobile-breakpoint) {
  .menu-wrapper {
    display: block;
    width: 100vw;
    overflow-wrap: normal;
    text-align: center;
    padding: 0 6px;
    box-sizing: border-box;
  }

  .sidebar-menu-item * {
    line-height: 100%;
  }
  .header-title {
    padding-top: 15px;
    opacity: 0.4;
    margin-left: 17px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 5px;
    line-height: 70%;
  }
  .sidebar-menu-item {
    display: inline;
    padding: 0 1.5vw;
  }
  .sidebar-menu-item::before {
    content: " ";
  }
  .sidebar-menu-item a {
    display: inline;
    /*font-size: 4.2vw;*/
  }
  header {
    max-width: $mobile-breakpoint;
    position: relative;
    background-color: var(--primary-bg);
    padding-bottom: 5px;
  }

  .page-wrapper {
    padding-left: 17px;
    padding-right: 17px;
  }
  .contact-wrapper,
  .skills,
  .index-wrapper,
  .writing-wrapper,
  .portfolio-colour,
  .page-wrapper {
    margin-top: 0;
    padding-top: 20px;
  }
  hr {
    height: 3px;
    max-width: calc(min(70vw,300px));
  opacity: 0.2;
  margin-top: 15px;
margin-left:auto;
margin-right:auto;
  }
  h1,
  .page-title {
    font-size: calc(9vw + 12px);
    padding-top: 0;
    margin-top: 0;
  }
  .page-title{
    text-align: center;
  }
  html,
  body {
    font-size: 17px;
  }
  ul {
    font-size: 17px;
  }
  blockquote {
    margin-left: 0px;
  }
  .big {
    font-size: 20px;
  }

}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Defining Themes */


