@import "variables";

html,
body {
  font-family: "Merriweather", "Lora", serif;
  /*background-color: coral;*/
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  color:$text-color;
}
 /* letter-spacing: -0.02em; */
p{
  line-height:160%;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  line-height: 80%;
  font-family: "Open Sans","Karla";
}
h1 {
  font-size: 70px;
  font-weight: 900;
  color: $header-color;
  padding-top: 30px;
}
.page-title {
  margin-top:30px;
  /*text-shadow: 5px 5px #a8bebf, -5px 5px #a8bebf, -5px -5px #a8bebf;*/
}
blockquote{
  
  /*border-left:2px solid #555;*/
  padding-left: 20px;
  font-style: italic;
  box-sizing: border-box;
  opacity:0.8;
}
blockquote::before{
  content:'\201C';
  font-size:3em;
line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p{
  display: inline;
}
h2 {
  font-size: 40px;
}
.skills h2 {
  margin-bottom: 30px;
  font-family: lora;

}
.skills{
  padding-top:20px;
}
/*.skills h3 {
  padding-left: 40px;
}*/
a {
  text-decoration-color: $text-color;
  /*text-decoration-style: dotted;*/
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 2px;
  color: $text-color;
}
.centred{
  margin:auto;
  margin-top:25px;
}
::selection {
  color: $secondary-color;
  background: $text-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: $secondary-color;
  background: $text-color;
}
.content-div {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: minmax(0, 200px) minmax(0, 2fr);
  grid-template-rows: 60px 1fr;
}

header {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: $primary-bg;
  padding-right: 20px;
  position:fixed;
  height:100%;
  max-width:180px;
}
main {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color: $secondary-color; /* #e6ddde; */
}
.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 800px;
}
.menu-button {
  display: none;
}
.menu-wrapper {
  position: relative;
  z-index: 1;
  height: 160px;
  display: none;
  width: 180px;
  background: none;
  display: block;
  padding-top: 0;
}
@media all and (min-width: 635px) {
  header {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  main {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .header-title {
    display: block;
    /*margin-top: calc(-215px);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(-180deg);*/
    font-weight: bold;
    font-size: 27px;
    text-align: right;
    padding-top: 0;
  }
  .header-line {
    display: block;
  }

  h1 {
    font-size: 100px;
  }
  header {
    padding-top: calc(50vh - 160px);
  }
 
  .centre {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }

  .index-wrapper {
    padding-top: 2vh;
  }
  .writing-wrapper {
    padding-top: 7vh;
  }
}
.contact-wrapper{
margin-top:12vh;
}
hr {

  margin: 0px;
  border: 2px solid $text-color;
  opacity:0.42;
  max-width: 350px;
  text-align: left;
  align: left;
  margin-top: 25px;
  margin-left: 0px;
}
.big {
  font-size: 25px;
}
ul {
  font-size: 20px;
}
/*li {
  padding-top: 5px;
  padding-bottom: 5px;
}*/
h3 {
  font-size: 30px;
  font-weight: bold;
  line-height:95%
}
@media all and (max-width: 635px) {
 /* .header-title {
    display: none;
  }
  h1 {
    text-align: center;
    margin-bottom:18px;
    margin-top:0px;
    padding-top:0px;
  }
  hr {
    margin: auto;
    text-align: center;
  }
  .sidebar-menu-item a{
    text-align: center;
    color: $primary-bg;
  }
  .portfolio-header{
    margin-top:20px;
  }*/
  .sidebar-menu-item{
display:inline;
margin-left:17px;


  }
  .header-title{
    padding-top:15px;
    opacity: 0.4;
    margin-left: 17px;
  }
  .sidebar-menu-item a{
    font-size: 4.2vw;
   
  }
  header{
    max-width: 635px;
    position: relative;
    background-color: $secondary-color;
  }
  .page-wrapper{
    padding-left:17px;
    padding-right:17px;
  
  }
  .contact-wrapper, .skills, .index-wrapper, .writing-wrapper, .portfolio-colour, .page-wrapper{
    margin-top:0;
    padding-top:40px;
  }
  hr{
    border: 1px solid $text-color;
  }
 h1, .page-title{
   font-size:13vw;
padding-top:0;
margin-top: 0;
 }
 html,body{
   font-size:17px;
 }
 .big{
   font-size:20px;
 }
}


/*
.index-colour{
  background-color: #a8bebf;
}
.portfolio-colour{
  background-color: #a8bebf;
}
.writing-colour{
  background-color: #fff;
}*/
/*I can also just load special css for each page to do this...*/