/*@font-face {
  font-family: "Lora";
  font-style: normal;
  src: url("../fonts/lora-bold-webfont.woff") format("woff");
}*/

html,
body {
  font-family: "Merriweather", "Lora", serif;
  /*background-color: coral;*/
  margin: 0;
  padding: 0;
}
p {
  font-size: 22px;
  text-align: left;
  line-height: 1.5;
 /* letter-spacing: -0.02em; */
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  line-height: 80%;
  color: #333;
  font-family: "Karla";
}
h1 {
  font-size: 70px;
  font-family: "Karla", "Space Mono", "Merriweather", sans-serif;
  font-weight: bold;
  color: white;
  padding-top: 30px;
}
.page-title {
  margin-top:50px;
  /*text-shadow: 5px 5px #a8bebf, -5px 5px #a8bebf, -5px -5px #a8bebf;*/
}
blockquote{
  color:#333;
  /*border-left:2px solid #555;*/
  padding-left: 20px;
  font-style: italic;
  box-sizing: border-box;
}
blockquote::before{
  content:'\201C';
  font-size:3em;
line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p{
  display: inline;
}
h2 {
  font-size: 40px;
}
.skills h2 {
  margin-bottom: 30px;
  font-family: lora;

}
.skills{
  padding-top:20px;
}
/*.skills h3 {
  padding-left: 40px;
}*/
a {
  text-decoration-color: whitesmoke;
  /*text-decoration-style: dotted;*/
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 2px;
  color: black;
}
::selection {
  color: white;
  background: #333; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #333; /* Gecko Browsers */
  color: white;
}
.content-div {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: minmax(0, 200px) minmax(0, 2fr);
  grid-template-rows: 60px 1fr;
}

header {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #eee;

  padding-right: 20px;
}
main {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color: #bfa8b1; /* #e6ddde; */
}
.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
}

@media all and (min-width: 635px) {
  header {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  main {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .header-title {
    display: block;

    /*margin-top: calc(-215px);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(-180deg);*/
    font-weight: bold;
    font-size: 27px;
    text-align: right;
    padding-top: 0;
  }
  .header-line {
    display: block;
  }
  .sidebar-menu-item {
    text-align: right;

    display: inherit;
  }
  h1 {
    font-size: 100px;
  }
  header {
    padding-top: calc(50vh - 160px);
  }
  .menu-wrapper {
    position: relative;
    z-index: 1;
    height: 160px;
    display: none;
    width: 180px;
    background: none;
    display: block;
    padding-top: 0;
  }
  .centre {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }
  .menu-button {
    display: none;
  }
  .index-wrapper {
    padding-top: 10vh;
  }
  .writing-wrapper {
    padding-top: 7vh;
  }
}
hr {
  color: white;
  margin: 0px;
  border: 4px solid white;
  max-width: 350px;
  text-align: left;
  align: left;
  margin-top: 5px;
  margin-left: 0px;
}
@media all and (max-width: 635px) {
  .header-title {
    display: none;
  }
  h1 {
    text-align: center;
  }
  hr {
    margin: auto;
    margin-top: 5px;
    text-align: center;
  }
}
.big p {
  font-size: 25px;
}
.big {
  font-size: 25px;
}
ul {
  font-size: 20px;
}
/*li {
  padding-top: 5px;
  padding-bottom: 5px;
}*/
h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Karla";
}
.index-colour{
  background-color: #a8bebf;
}
.portfolio-colour{
  background-color: #a8bebf;
}
.writing-colour{
  background-color: #fff;
}
/*I can also just load special css for each page to do this...*/