.portfolio-box {
  /*background-color: grey;*/
  width: 100%;
  /*background-color: white;*/
}
.portfolio-box img {
  /*filter: grayscale(100%) contrast(1);*/
}
.portfolio-container {
  /*background-color: #333;
  color: white;*/
  margin: 0;
  padding: 0;
  border: 0;
}
/*.portfolio-image {
  max-height: 10px;
}*/
.portfolio-box a {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.portfolio-line {
  border: 0.3px solid white; /*#dbc3a3;*/
  margin: 0;
  max-width: 500px;
  margin-left: 30%;
  margin-right: 30%;
}
.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 400px));
  /*grid-template-rows: repeat(6, 200px);
  grid-template-rows: repeat(4, 200px);*/
  max-width: 1250px;
  grid-gap: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  justify-items: center;
  justify-content: center;
}
.portfolio-style {
  background-color: #dbc3a3;
}
.portfolio-header {
  color: #dbc3a3;
  text-align: center;
  margin-bottom: 20px;
}
.subtype {
  font-family: "Space Mono";
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-title {
  font-family: Karla, "Source Serif Pro";
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
  margin-bottom: 0;
  color: black;
  text-align: center;
}
.portfolio-description {
  font-family: "Source Serif Pro";
  padding-right: 6%;
  padding-left: 6%;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0;
  color: #62625f;
}
