/* Dark Theme */

$primary-bg: #2a2f3c; /*#465475 */
$secondary-color: #333948;
$text-color: #ddd;
$inverted-text-color: #ddd;
$header-color: #ddd;


/* Light Theme*/

$primary-bg--light: #eeeeee;
$secondary-color--light: #ffffff;
$text-color--light: rgb(46, 46, 46);
$inverted-text-color--light: #ddd;
$header-color--light: rgb(59, 59, 59);

/* Other */
$mobile-breakpoint: 635px;