@import "variables";
.anchor {
  display: none;
}
.post-wrapper {
  .anchor {
    display: inline;
    position: relative;
    padding-right: 40px;
    left: -20px;
    margin-left: -20px;
    margin-right: -40px;
    bottom: 1px;
    svg {
      fill: #6b7796;
      visibility: hidden;
      transform: scale(1.5);
    }
  }
  h2,
  h3 {
    position: relative;
    &:hover {
      .anchor {
        svg {
          visibility: visible;
        }
      }
    }
  }
}
@media all and (max-width: 600px) {
  .post-wrapper {
    h1,
    h2,
    h3 {
      position: relative;
      &:hover {
        .anchor {
          svg {
            visibility: hidden;
          }
        }
      }
    }
    .anchor {
      svg {
        visibility: hidden;
      }
    }
  }
  .anchor {
    display: block;
    width: 100%;
    height: 100%;
    background: blue;
    opacity: 0;
    position: absolute !important;
    top: 0;
    display: inline-block !important;
  }
}
.table-of-contents {
  background: $primary-bg;
  border-radius: 8px;
  margin-top: 40px;
  padding: 20px 25px;
  summary {
    cursor: pointer;
  }
}
.light{
  .table-of-contents {
    background: $primary-bg--light;
  }
}
.post-title {
  margin-bottom: 0;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px $secondary-color, -2px 2px $secondary-color,
    -2px -2px $secondary-color;
}
.post {
  h2 {
    margin: 34px 0 24px 0;
  }
  h3 {
    margin: 30px 0 24px 0;
  }
  h5 {
    opacity: 0.75;
    margin-left: 20px;
  }
}
.post-title a {
  text-decoration: none;
}
.date-published {
  font-family: "Space Mono", Courier, monospace;
  font-weight: normal;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-line {
  max-width: 200px;
  margin-top: 5px;
  height: 2px;
  margin-bottom: 20px;
}
.writing-hr {
  margin-bottom: 40px;
  border: 5px solid $text-color;
}
.excerpt {
  max-width: 750px;
  padding-right: 0px;
  padding-left: 00px;
}
.writing-image_small {
  width: 80vw;
  margin: 30px auto;
}
.writing-image_smaller {
  width: 50vw;
  margin: 30px auto;
  max-width: 450px;
}

table {
  padding: 0;
}
table tr {
  border-top: 1px solid white;
  background-color: lighten($primary-bg, 10%);
  margin: 3px;
  padding: 0;
}
/*table tr:nth-child(2n) {
      background-color:lighten($primary-bg, 18%); }*/
table tr th {
  background-color: lighten($primary-bg, 14%);
  font-weight: bold;
  text-align: left;
  margin: 3px;
  padding: 8px 13px;
}
table tr td {
  text-align: left;
  margin: 3px;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}
@media all and (min-width: $mobile-breakpoint) {
  .writing-image_small {
    width: 50vw;
    max-width: 600px;
  }
}

.aside {
  background: lighten($primary-bg, 10%);
  display: flex;
  flex-direction: row;
  padding: 15px;
  padding-right: 17px;
  border-radius: 6px;
}
.aside p {
  padding: 8px 20px 8px 10px;
}
.aside::before {
  content: "💡";
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 26px;
  font-size: 30px;
}
blockquote {
  /*border-left:2px solid #555;*/
  padding-left: 20px;
  font-style: italic;
  box-sizing: border-box;
  opacity: 0.8;
}
blockquote::before {
  content: "\201C";
  display: inline-block;
  width: 40px;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  margin-left: -55px;
  padding: none;
}
blockquote p {
  display: inline;
}
@media all and (max-width: $mobile-breakpoint) {
  blockquote::before {
    content: "\201C";
    display: inline;
    margin-left: 0px;
  }
  .post-title {
    font-size: calc(4vw + 18px);
  }
  .post-line {
    margin-left: 0;
  }
  .post {
    p {
      font-size: calc(1.2vw + 12px);
    }
  }
}
