@import "variables";
//@import "debugging";

.anchor {
  display: none;
}
.post-wrapper {
  .anchor {
    display: inline;
    position: relative;
    padding-right: 40px;
    left: -20px;
    margin-left: -20px;
    margin-right: -40px;
    bottom: 1px;
    svg {
      fill: #6b7796;
      visibility: hidden;
      transform: scale(1.5);
    }
  }
  h2,
  h3 {
    position: relative;
    &:hover {
      .anchor {
        svg {
          visibility: visible;
        }
      }
    }
  }
  h4 {
    font-family: "Chivo", "Open Sans", sans-serif;
  }
}
@media all and (max-width: 600px) {
  .post-wrapper {
    h1,
    h2,
    h3 {
      position: relative;
      &:hover {
        .anchor {
          svg {
            visibility: hidden;
          }
        }
      }
    }
    .anchor {
      svg {
        visibility: hidden;
      }
    }
  }
  .anchor {
    display: block;
    width: 100%;
    height: 100%;
    //background: blue;
    opacity: 0;
    position: absolute !important;
    top: 0;
    display: inline-block !important;
  }
}
.table-of-contents {
  background: var(--primary-bg);
  border-radius: 8px;
  margin-top: 40px;
  padding: 20px 25px;
  summary {
    cursor: pointer;
  }
}
.toc-wordcount {
  opacity: 0.7;
  margin-left: 30px;
}

.post-title {
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 400;
}
.post {
  h2 {
    margin: 34px 0 24px 0;
  }
  h3 {
    margin: 30px 0 24px 0;
  }
  h5 {
    opacity: 0.75;
    margin-left: 20px;
  }
}
.post-title a {
  text-decoration: none;
}
.date-published {
  font-family: "IBM Plex Mono", Courier, monospace;
  font-weight: normal;
  opacity: 0.7;
  margin-top: 10px;
  font-size: 16px;
}
.post-line {
  max-width: 200px;
  margin-top: 5px;
  height: 2px;
  margin-bottom: 20px;
}

.excerpt {
  max-width: 750px;
  padding-right: 0px;
  padding-left: 00px;
}
.writing-image_small {
  width: 80vw;
  margin: 30px auto;
}
.writing-image_smaller {
  width: 50vw;
  margin: 30px auto;
  max-width: 450px;
}

table {
  padding: 0;
  max-width: 100%;
  overflow-x: auto;
  display: block;
}
table tr {
  border-top: 1px solid white;
  background-color: var(--primary-bg);
  margin: 3px;
  padding: 0;
}
/*table tr:nth-child(2n) {
      background-color:lighten(var(--primary-bg), 18%); }*/
table tr th {
  background-color: var(--primary-bg);
  font-weight: bold;
  text-align: left;
  margin: 3px;
  padding: 8px 13px;
}
table tr td {
  text-align: left;
  margin: 3px;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}
@media all and (min-width: $mobile-breakpoint) {
  .writing-image_small {
    width: 50vw;
    max-width: 600px;
  }
}

.aside {
  background: var(--primary-bg);
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  border-radius: 6px;
}
.aside p {
  padding: 8px 20px 8px 10px;
}
/* .aside::before {
  content: "💡";
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 26px;
  font-size: 30px;
} */
blockquote {
  /*border-left:2px solid #555;*/
  padding-left: 20px;
  font-style: italic;
  box-sizing: border-box;
  opacity: 0.8;
}
blockquote::before {
  content: "\201C";
  display: inline-block;
  width: 40px;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  margin-left: -55px;
  padding: none;
}
blockquote p {
  display: inline;
}
.post-preview {
  border-bottom: 1px solid var(--transparent-text);
  margin-bottom: 28px;
}
@media all and (max-width: $mobile-breakpoint) {
  blockquote::before {
    content: "\201C";
    display: inline;
    margin-left: 0px;
  }
  .post-title {
    font-size: calc(3vw + 12px);
  }
  .post-line {
    margin-left: 0;
  }
  table{
    line-height: 1.2;
  }
  .post {
    p,
    ul,
    ol,
    li {
      font-size: calc(1.1vw + 12px);
    }
  }
  .aside {
    font-size: calc(1.1vw + 12px);
    //flex-direction: column;
  }
  .aside::before {
    display: none;
  }
}

// Footnotes
.footnote-backref {
  margin-left: 8px;
}
.footnote-ref {
  margin-left: 3px;
  text-decoration: none;
  background: var(--primary-bg);
  border-radius: 5px;
  padding: 0 5px;
  box-sizing: content-box;
}
.footnote-ref-example {
  background: var(--secondary-bg);
  cursor: pointer;
}

// Sidenotes

body {
  counter-reset: sidenote-counter;
}

/* Sidenotes, margin notes, figures, captions */

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 1.4rem;
  margin-bottom: 0;
  line-height: 1.7;
  vertical-align: baseline;
  position: relative;
  font-size: 80%;
  opacity: 0.7;
}

.sidenote:hover,
.marginnote:hover {
  opacity: 1;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number-example {
  counter-increment: none;
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 100%;
}

.sidenote:before {
  content: counter(sidenote-counter);
  top: -0.5rem;
  background: var(--primary-text);
  color: var(--primary-bg);
  border-radius: 5px;
  padding: 0 5px;
  box-sizing: content-box;
  margin-right: 5px;
  top: -0.2em;
  vertical-align: baseline;
  position: relative;
  line-height: 0;
  font-size: 75%;
}

.marginnote > code,
.sidenote > code {
  font-size: 1rem;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}
label {
  background: var(--primary-text);
  color: var(--primary-bg);
  border-radius: 5px;
  padding: 0 5px;
  box-sizing: content-box;
  margin-left: 3px;
  top: -0.3em;
  vertical-align: super;
  position: relative;
  line-height: 0;
  font-size: 75%;
}
.display-on-smaller-screens{
  display: none;
}
.display-on-larger-screens{
  display: inline;
}
@media (max-width: 1050px) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  .display-on-smaller-screens{
    display: inline;
  }
  .display-on-larger-screens{
    display: none;
  }
}
