h1{
    font-family: recoleta;
    margin-top:0;
}
.header-title{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(-180deg);
    font-size:60px;
    text-decoration:none;
}
.sidebar{
    background-color: white;
}
.sidebar-menu-item{
    text-decoration: none;
    font-size: 30px;
    color:black;
}