.header-title {
  font-family: "Karla", "M+ 1M";
  /*text-transform: uppercase;*/
  /*font-weight: bolder;*/

  text-decoration: none;
  font-size: 30px;
  /*background-color: aquamarine;*/
  /*height: 430px;*/
  margin-left: 20px;
}
.header-title a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: inline;
  width: 200px;
}
.header-line {
  border: 1px solid #bbb;
  margin-top: 12px;
  margin-left: 40px;
}
.menu-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 2;
  text-align: center;
  background: white;
  padding-top: 20vh;
}
.menu-button a {
  color: black;
  text-decoration: none;
}
.menu-button {
  text-align: center;
  color: black;
  font-family: "Karla";
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 22px;
  font-size: 20px;
}
.sidebar-menu-item * {
  font-family: "Karla", Courier, monospace;
  /*text-transform: uppercase;*/
  text-decoration: none;
  font-size: 22px;
  color: #777;
  margin-top: 0;
  font-weight: normal;
  line-height: 200%;
}
.header-line {
  display: none;
}
.active {
  color: #222; /*#654a4e;*/
  font-weight: bold;
}
